{% extends 'base.html.twig' %}

{% block title %}Clampophilie - Mon compte{% endblock %}

{% block content %}
    <h1> Mon compte </h1>

    Bienvenue {{ app.user.firstname }} dans votre profil. <br/>
    C'est ici que vous allez pouvoir gérer toutes vos informations personnelles.
    <hr>
    <a href="{{ path('account_password') }}">Modifier mon mot de passe</a> <br/>
    <hr>
{#
    TODO ajouter adresse
    TODO ajouter les commandes
#}

{% endblock %}
