{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}
{% block content %}

    <!-- START THE FEATURETTES -->

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading text-justify">Bienvenue sur notre site dédié aux CLAMP !</h2>
            <p class="lead text-justify mt-3">
                Vous trouverez ici la possibilité de vous procurer différentes travaux  de ce collectif d’auteures, ainsi que des goodies de choix de leurs différentes licences ! <br>
                Bon voyage à Clamp in Wonderland et laissez vous porter par leurs univers. </p>
            <p class="lead text-justify">
                De RG VEDA a Gate 7, en passant par l’incontournable chasseuse de carte et la fin du monde vu par les Clamp, il y en a pour tous les goûts!
            </p>
        </div>
        <div class="col-md-5">
            <img src="{{ asset('assets/img/clamp.jpg') }}" alt="Clamp" class="img-fluid">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading text-justify">Présentation</h2>
            <p class="lead text-justify">
                Notre univers? Celui des Clamp! Un collectif d’auteurs au féminin qui ravis ses fans depuis 30 ans.
            </p>
            <p class="lead text-justify">
                Notre histoire? Un gros fake site de fan pour une réalisation d’examen de validation de parcours.
            </p>
            <p class="lead text-justify">
                Notre volonté? Promouvoir leur travail, de qualité pour faire profiter un maximum de personne.
            </p>
        </div>
        <div class="col-md-5">
            <img src="{{ asset('assets/img/clampophilie.png') }}" alt="Clamp" class="img-fluid">
        </div>
    </div>
    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->

    <!-- Three columns of text below the carousel -->
    <h3 class="text-center mb-5">Nos meilleurs ventes</h3>
    <div class="row mt-5">
        {% for product in products %}
            <div class="col-md-3">
                {% include 'product/card_product.html.twig' %}
            </div>
        {% endfor %}
    </div><!-- /.row -->
    <div class="mb-5"></div>



{% endblock %}
